# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Python packaging / builds
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage*
htmlcov/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# Windows
# ----------------------
Thumbs.db
Desktop.ini

# ----------------------
# Mac (if collaborators use Mac)
# ----------------------
.DS_Store

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Cache
# ----------------------
.cache/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/
